/* Base navbar */
.app-nav {
  background: #212529;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Logo container */
.nav-logo img {
  width: 36px;
  height: 36px;
}

/* Desktop title */
.site-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 16px;
  text-align: center;
}

/* nav-item */
.nav-item{
  color: var(--text-color); 
  transition: color 0.3s ease;
}

.nav-item.active{
  color: var(--primary-color);
}

/* Desktop layout */
@media (min-width: 768px) {
  .app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    flex-direction: column;
  }

  .nav-logo {
    display: none;
    margin-top: 30px;
  }

  .nav-item {
    padding: 12px 20px;
    /* width: 100%; */
    scale: 1.3;
    margin-top: 20px;
  }


  /* NavSection */
  .nameWrap{
    margin-left: 20px;
  }

  .searchWrap{
    margin-left: auto;
  }

  .linkIcon{
    display: none;
  }

  .logoImgWrapTwo{
    display: none;
  }
}

/* Mobile layout */
@media (max-width: 767px) {
  .app-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    flex-direction: row;
    justify-content: space-around;
  }

  .site-title {
    display: none;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item {
    flex: 1;
    text-align: center;
    font-size: 0.9rem;
  }

  .linkTxt{
    display: none;
  }

  .logoImgWrap img{
    display: none;
  }
}

/* Shared nav item */
.nav-item {
  color: #fff;
  text-decoration: none;
}

.nav-item.active {
  background: #0d6efd;
}

.logoImgWrap img, .logoImgWrapTwo img{
  object-fit: cover;
  border-radius: 100%;
}

.logoImgWrap img{
  width: 60px;
  height: 60px;
}

.logoImgWrapTwo img{
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

/* theme */
[data-theme = 'dark']{
  .searchInput{
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
    font-weight: bold;
  }
}