.helloTxt{
    font-weight: lighter;
}

.usernameTxt{
    font-weight: bold;
    letter-spacing: 2px;
}

.searchWrap{
    margin-left: auto;
}

.search{
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.148);
    padding: 8px 20px;
}

.profilePhotoWrap img, .profilePhotoWrapTwo img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profilePhotoWrapTwo{
    margin-left: auto;
}

@media(max-width: 767px){
    .searchWrap{
        display: none;
    }

    .profilePhotoWrap{
        display: none;
    }
}

@media(min-width: 767px){
    .profilePhotoWrapTwo{
        display: none;
    }
}